body {
    background-color: #333;
    font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

h1 {
    color: #BB09AF;
    -webkit-text-stroke: 3px  #ff9531b0;
    font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 72pt;
    animation: fade 8s infinite;
    animation-direction: alternate-reverse;
    transition-timing-function: ease-in-out;
}

@keyframes fade {
    from { color: #BB09AF }
    to   { color: #333 }
    from {-webkit-text-stroke: 3px  #ff9531b0}
    to {-webkit-text-stroke: 4px  #BB09AF}
}

h2 {
    color: #e424da;
    font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24pt;
}

h3 {
    color: white;
    font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

hr {
    background-color: rgb(250, 150, 0);
    border: none;
    height: 4px;
    width: 80%;
}

.bg-img {
    background: url("../Images/vectorHead.png");
    background-position: 0 -99px;
    width: 100%;
    background-size: 100% 400px;
    height: 400px;
    background-repeat: no-repeat;
}

.container {
     width: auto;
}

.items {
    float: right;
    padding-top: 20px;
}

.topnav {
    overflow: visible;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
}

/* Change the color of links on hover */

.topnav a:hover {
    color: #ff9431;
    border-bottom: 2px solid #e424da;
}

/* Add a color to the active/current link */

.topnav a.active {
    border-bottom: 2px solid #e424da;
    color: white;
}

/* Right-aligned section inside the top navigation */

.logo-left {
    float: left;
    font-family: fantasy;
    font-size: 1rem;
    padding-top: 20px;
}

.tagline {
    color: white;
    font-size: 1.2rem;
}

.parentContainer {
    display: flex;
    margin-top: -10vh;
    flex-direction: row;
    background-color: #333;
    padding: 15px;
}

.flexChild {
    background-color: #333;
    padding: 10px;
    margin-left: 250px;
    padding-top: 0vw;
    height: auto;
}

.flexChild2 {
    background-color: #333;
    padding-top: 59px;
    margin: auto;
    height: auto;
    flex-basis: 30%;
}

.btn {
    color: white;
    background-color: #333;
    border: solid #e424da;;
    border-radius: 4px;
    padding: 14px 28px;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background: #ff9431;
    color: #333;
    color: white;
    font-weight: bold;
 
}

.btn a:visited {
    color: white
}
.btn a {
    color: white
}


.sectionTitle {
    margin-top: 5vh;
    margin-left: 200px;
  
    }
 
      
.flex-container {
    display: flex;
    flex-direction: row;
    max-height: 150px;
    justify-content: space-around;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 20vh;
  }



.flex-container2 {
    display: flex;
    flex-direction: row;
    max-height: 150px;
    justify-content: space-around;
    text-align: center;
    padding: 5px;
    padding-bottom: -30vh;
   
}
.item {
    width: 180px;
    height: 180px;
}

/* Style inputs, select elements and textareas */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */

input[type=submit] {
    color: white;
    background-color: #333;
    border: solid #e424da;;
    border-radius: 4px;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background: #ff9431;
    color: #333;
    color: white;
    font-weight: bold;
    padding: 13px 27px;
}

/* Style the container */

.form-container {
    border-radius: 5px;
    padding: 20px;
    flex: 1;
    margin-left: 200px;
}

/* Floating column for labels: 25% width */

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
        }
}

.img-container {
    flex: 2;
}

.bg-img2 {  
    background: url("../Images/vectorFooter.png");
    width: 100%;
    background-position:bottom;
    background-size: 100% 200px;
    height: 500px;
    background-repeat: no-repeat;

}
/*hide footer
.footer {
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    text-align: center;
    padding-top: 22vh;
    color: white;
}*/